# Terraform
export TF_VAR_project_name="oracle-ddd-demo"
export TF_VAR_region="<ALTERAR_PARA_REGIAO>"
export TF_VAR_tenancy_ocid="<ALTERAR_PARA_OCID_DA_TENANCY>"
export TF_VAR_compartment_ocid="<ALTERAR_PARA_OCID_DO_COMPARTMENT>"

# Autenticacao OCI
export TF_VAR_auth="APIKey"
export TF_VAR_user_ocid="<ALTERAR_PARA_OCID_DO_USER>"
export TF_VAR_fingerprint="<ALTERAR_PARA_FINGERPRINT>"
export TF_VAR_private_key_path="<ALTERAR_PARA_CAMINHO_DA_CHAVE_PRIVADA>"

# OKE
export TF_VAR_node_count="2"
export TF_VAR_node_shape="VM.Standard.E5.Flex"
export TF_VAR_node_ocpus="2"
export TF_VAR_node_memory_in_gbs="16"
export TF_VAR_kubernetes_version=""
export FORCE_ROLLOUT_RESTART="true"
export ROLLOUT_TIMEOUT="600s"

# Imagem / OCIR
# Formato do username: <tenancy-namespace>/<oci-username>
# Para usuario federado, normalmente: <tenancy-namespace>/<identity-domain>/<username>
export OCIR_USERNAME="<ALTERAR_PARA_USERNAME>"
export OCIR_AUTH_TOKEN="<ALTERAR_PARA_AUTH_TOKEN>"
export IMAGE_TAG="demo"
export DOCKER_PLATFORM="linux/amd64"

# Aplicacao
export BACKEND_PORT="8080"
export DB_URL="<ALTERAR_PARA_STRING_DE_CONEXAO_DO_BD>"
export DB_USER="<ALTERAR_PARA_USUARIO_DO_BD>"
export DB_PASS='<ALTERAR_PARA_SENHA_DO_USUARIO_DO_BD>'
export DB_POOL_SIZE="20"
export ADMIN_USER="admin"
export ADMIN_PASS="changeme"
export CUSTOMER_USER="customer"
export CUSTOMER_PASS="changeme"
export OCI_GENAI_API_KEY="<ALTERAR_PARA_API_KEY_GENAI>"
export OCI_GENAI_MODEL_ID="cohere.command-r-plus"
export HEATWAVE_NL_SQL_MODEL_ID="cohere.command-r-plus-08-2024"
export K8S_NAMESPACE="copa-ticketing"

export FRONTEND_PORT="8081"
export BACKEND_URL="http://copa-backend.copa-ticketing.svc.cluster.local:8080"
export BACKEND_CUSTOMER_USER="customer"
export BACKEND_CUSTOMER_PASS="changeme"
export BACKEND_ADMIN_USER="admin"
export BACKEND_ADMIN_PASS="changeme"
